select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  transition: 0.4s rotate;
  color: var(--color-text-900);
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  transition: 0.4s;
}

option:checked {
  color: var(--color-text-white);
  background: var(--color-bg-select-300);
  font-weight: 600;
}

option::checkmark {
  content: '';
  background-image: url('/src/assets/images/icons/check-circle.svg');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  order: 1;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
  border-radius: 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

input:focus {
  outline: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  margin: 1% auto 0;
  padding: var(--padding-y-x-sm);
  border: 1px solid var(--color-border);
  background: var(--color-bg-card-white);
  border-radius: var(--border-radius-md);
}

.form-input-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-select {
  cursor: pointer;
  width: 100%;
  padding: var(--padding-y-x-sm);
  text-transform: uppercase;
  border-radius: var(--border-radius-md);
  background: white;
  color: var(--color-text-900);
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-border);
}

.form-select:focus,
.form-select:hover {
  outline: none;
  background: var(--color-bg-select-hover);
  color: var(--color-text-white);
}

.form-select-option {
  gap: 20px;
  border: 1px solid var(--color-border);
  padding: 10px;
}

.form-select-option:hover {
  background: var(--color-bg-hover);
}

.form-button {
  width: 100%;
  text-transform: uppercase;
  border-radius: var(--border-radius-md);
  padding: var(--padding-y-x-sm);
  font-size: 1.1rem;
}

.form-input-label {
  padding-left: 15px;
}

.form-input {
  width: 100%;
  padding: var(--padding-y-x-sm);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-border);
  font-size: 1.2rem;
}

.form-input::placeholder {
  text-transform: uppercase;
  font-weight: 300;
}

.form-error {
  margin: var(--margin-top-sm);
  background: red;
  color: var(--color-text-white);
  padding: var(--padding-y-x-xs);
  border-radius: var(--border-radius-sm);
}

.type-form {
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 5%;
}
