.not-found {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  width: 300px;
  height: 300px;
  background: var(--color-bg-card);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--border-radius-md);
  padding: var(--padding-y-x-sm);
}

.not-found-text {
  text-transform: uppercase;
  color: var(--color-text-white);
  font-weight: 800;
}

.not-found-link {
  width: 100%;
  text-transform: uppercase;
  color: var(--color-text-white);
  font-size: 1.5rem;
  background: var(--color-bg-card-white);
  color: var(--color-text-600);
  padding: var(--padding-y-x-sm);
  border-radius: var(--border-radius-md);
}
